body {
    margin: 0%;
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
}
header{
    background-color: rgb(37, 37, 37);
    padding: 20px;
}
main {
    width: 80%;
    margin: auto;
}
a {
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(97, 97, 97);
    transition: 1s all;
}
a:hover {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: rgb(26, 26, 26);
}